/* css-1. sayfanın kenarlarında boşluklar var. bunları yok edelim ve sayfadaki default font'u 'Roboto Mono' yapalım */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono';
}

.container {
  width: 750px;
  margin: 0 auto;
}

nav a {
  width: 18%;
  height: 3%;
  background-color: #5ed3eb;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  margin: 10px 10%;
  padding: 20px 20px;
  display: inline-block;
  vertical-align: middle;
}

nav a {
  margin: 10px 10%;
  padding: 20px 20px;
  display: inline-block;
  vertical-align: middle;
}

nav a:first-child {
  background-color: #ff764e;
  padding: 10px 20px;
  margin: 10px 1%;
}

nav a:last-child {
  background-color: #ffcd69;
  margin: 10px 1%;
}

.main-section img {
  border-radius: 100%;
  width: 30%;
  margin: 10% 2%;
  vertical-align: middle;
}

.main-content {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  text-align: center;
}

h1 {
  font-family: 'Chelsea Market';
}

.info-section {
  background-color: #ddb9a3;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
}

.features-card {
  width: 40%;
  margin: 30px auto;
  text-align: center;
}

.features-card img {
  width: 40%;
}

.emphasize {
  font-weight: bold;
}

.footer {
  background-color: #f9e7dc;
  min-width: 750px;
}
.footer img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 50% 20%;
}

footer nav {
  padding: 2% 0;
}
